@font-face {
  font-family: "Noto Sans";
  font-weight: 300;
  src: url("./fonts/NotoSansCJKkr-Regular-2350.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 500;
  src: url("./fonts/NotoSansCJKkr-Medium-2350.woff") format("woff");
}
@font-face {
	font-family: "Proxima Nova";
	font-weight: 300;
	src: url("./fonts/ProximaNova-Light.eot");/* IE9 Compat Modes */
	src: url("./fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"),/* IE6-IE8 */
		url("./fonts/ProximaNova-Light.woff2") format("woff2"),/* Super Modern Browser */
		url("./fonts/ProximaNova-Light.woff") format("woff"),/* Pretty Modern Browsers */
		url("./fonts/ProximaNova-Light.otf") format("opentype");/* Safari, Android, iOS */
}
@font-face {
	font-family: "Proxima Nova";
	font-weight: 500;
	src: url("./fonts/ProximaNova-Bold.eot");
	src: url("./fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),/* IE6-IE8 */
		url("./fonts/ProximaNova-Bold.woff2") format("woff2"),/* Super Modern Browser */
		url("./fonts/ProximaNova-Bold.woff") format("woff"),/* Pretty Modern Browsers */
		url("./fonts/ProximaNova-Bold.otf") format("opentype");/* Safari, Android, iOS */
}

* {
	padding: 0; margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}

/* grobal */
a, a:link, a:visited, a:hover {
	text-decoration: none;
	color: #000;
}
ul {
	list-style-type: none;
}
h1, h2, h3, h4, h5, h6, header, footer, span, a, p, article {
	font-family: "Noto Sans", "Proxima Nova", Arial, sans-serif;
	font-weight: 300;
	font-style: normal;
	word-break: break-all;
}
header, footer, span, a, p, article {
	font-size: 20px;
}
body {
	background-color: #f0f0f0;
}
/* header */
#container {
	width: 100%;
}
#header {
	height: 38px;
}
.topMenu {
	width: 100%;
	line-height: 0.8;
	z-index: 10;
}
.topTitle {
	font-size: 28px;
	display: inline-block;
	margin: 16px 0 0 16px;
	font-family: "Proxima Nova";
	font-weight: 500;
	opacity: 1.0;
	transition: all 0.5s ease;
}
.more_btn {
	float: right;
	display: inline-block;
	margin: 10px 16px 0 0;
	position: relative;
	width: 30px;
	height: 32px;
}
.topMenu .more_btn span {
	background-color: #000;
}
.single_topMenu .more_btn span {
	background-color: #fff;
}
.more_btn .circle0, .more_btn .circle1, .more_btn .circle2, .more_btn .circle3 {
	width: 6px;
	height: 6px;
	top: 13px;
	border-radius: 6px;
	position: absolute;
	display: inline-block;
	transition: all 0.5s ease;
}
.more_btn .circle0 {
	left: 0;
}
.more_btn .circle1 {
	left: 12px;
}
.more_btn .circle2 {
	left: 12px;
	visibility: hidden;
}
.more_btn .circle3 {
	left: 24px;
}
.more_btn.on .circle0, .more_btn.on .circle3 {
	opacity: 0;
	transition-duration: 0.1s;
}
.more_btn.on .circle1 {
	left: 1px;
	width: 28px;
	height: 4px;
	transform: rotate(225deg);
}
.more_btn.on .circle2 {
	left: 1px;
	width: 28px;
	height: 4px;
	visibility: visible;
	transform: rotate(315deg);
}
.topTitle.off {
	visibility: hidden;
	opacity: 0.0;
	margin-top: 48px;
}
.more_menu {
	position: absolute;
	visibility: hidden;
	top: -16px;
	left: 16px;
	opacity: 0.0;
	transition: all 0.5s ease;
}
.more_menu.on {
	visibility: visible;
	opacity: 1.0;
	top: 16px;
}
.topMenu .more_menu a {
	color: #000;
}
.single_topMenu .more_menu a {
	color: #fff;
	margin-bottom: 16px;
}
.more_menu .txt_menu {
	font-size: 28px;
	margin-right: 20px;
	font-family: "Proxima Nova";
	font-weight: 500;
}
/* footer */
#footer {
	margin-top: 32px;
	padding-bottom: 60px;
}
.copyright {
	float: right;
	margin-right: 20px;
	line-height: 1.6;
    font-size: 10px;
    display: block;
    color: #666;
}
#footer .bottomTitle {
    font-size: 28px;
    display: inline-block;
    margin-left: 16px;
    font-family: "Proxima Nova";
    font-weight: 500;
    color: #888;
}
/* contents */
#index_content {
	margin: 0 8px;
	margin-top: 62px;
	position: relative;
}
.home_article{
	margin-bottom: 38px;
	transition-duration: 0.5s;
	width: 50%;
	display: inline-block;
	padding: 0 5px 20px;
	margin: 0;
	position: absolute;
}
.index_article_cover {
	width: 100%;
    height: 100%;
    padding-bottom: 0;
    background-color: #ccc;
}
.index_article_image {
	width: 100%;
	display: block;
}
/* article information */
.index_article_info_frame {
	width: 100%;
	background-color: #fff;
	padding: 8px 0 14px;
}
.index_article_title {
	display: block;
	font-size: 18px;
	padding: 0 10px;
	line-height: 1.3;
	font-family: "Proxima Nova";
	font-weight: 300;
}
.index_article_info {
	padding: 0 10px;
	display: block;
	font-size: 12px;
	color: #999;
}
.index_article_info a{
	font-size: 13px;
	display: inline-block;
	color: #666;
	font-family: "Proxima Nova";
	font-weight: 300;
}

/* single */
#single_content {
	padding-top: 112px;
}
.single_article_title {
	margin: 0 16px;
	display: block;
	padding: 44px 0 36px;
	font-size: 26px;
	font-family: "Proxima Nova";
	font-weight: 300;
	line-height: 1.1;
}
.single_article_date {
	position: absolute;
	top: 16px;
	right: 16px;
	font-size: 13px;
	color: #8c8c8c;
}
.single_article_date a {
	font-size: 13px;
	color: #666;
	vertical-align: 4px;
	letter-spacing: 0;
}
.single_topMenu a {
	color: #fff;
}
.single_topMenu a {
	color: #fff;
}
.single_article {
	overflow: auto;
	margin-bottom: 32px;
	position: relative;
	background-color: #fff;
}
.single_article_content {
	clear: both;
}
/* single image */
.single_article_content .alignleft, .single_article_content .aligncenter, .single_article_content .alignnone {
	width: 100%;
	height: auto;
}
#single_header {
    width: 100%;
    height: 112px;
    position: fixed;
}
.single_topImage {
	width: 100%;
	height: 260px;
	top: 0;
	position: absolute;
	z-index: -1;
	background-color: #000;
	background-position: center;
	background-repeat: no-repeat;
}
.alignright {
	display: none;
}
.single_article_content .img_p img {
	float: left;
}
/* single context */
.single_article_content p {
	font-family: "Noto Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.75;
	letter-spacing: -0.5px;
	margin: 0 16px;
	padding-bottom: 16px;
}
.single_article_content h4 {
	font-family: "Proxima Nova", Arial, sans-serif;
	font-weight: 300;
	font-size: 22px;
	margin: 0 16px;
	padding-bottom: 8px;
}
.single_article_content .img_p {
	margin: 0;
	padding-bottom: 0;
}
/* bottom navigation */
.bottom_next {
	margin-bottom: 1px;
}
.bottom_next, .bottom_prev {
	overflow: auto;
	background-color: #fff;
}
.bottom_next a, .bottom_prev a {
	clear: both;
	font-family: "Proxima Nova", Arial, sans-serif;
	font-weight: 300;
}
.bottom_next .bottom_next_thumb, .bottom_prev .bottom_prev_thumb {
	width: 120px;
	height: 80px;
	vertical-align: bottom;
	float: left;
	margin-right: 10px;
	background-size: 144px;
	background-color: #f3f3f3;
	background-position: center;
}
.bottom_next_txt, .bottom_prev_txt {
	font-size: 18px;
    padding: 12px 16px 0 0;
    line-height: 1.2;
	font-family: "Proxima Nova", Arial, sans-serif;
	font-weight: 300;
}

@media (min-width: 960px) and (min-height: 400px) {
	html {
		height: 100%;
	}
	#container {
		width: 960px;
		margin: auto;
	    display: table;
	}
	#single_container {
		width: 940px;
		margin: auto;
	    display: table;
	}
	/* article information */
	.index_article_title {
		padding: 0 14px;
	}
	.index_article_info {
		padding: 0 14px;
	}
	.index_article_info_frame {
		padding: 12px 0 20px;
	}
	#index_content {
		font-size: 0px;
		position: relative;
		height: 1000px;
	}
	.home_article {
		width: 320px;
		display: inline-block;
		padding: 0 14px 28px;
		margin: 0;
		position: absolute;
	}
	.index_article_title {
		font-size: 20px;
	}
	.index_article_cover {
		width: 100%;
		height: 100%;
		padding-bottom: 0;
		background-color: #ccc;
	}
	.more_menu {
		position: relative;
		visibility: visible;
		opacity: 1.0;
		float: right;
		top: 0;
		left: 0;
		margin-top: 25px;
	}
	.more_btn {
		display: none;
	}
	.more_menu .txt_menu {
		font-size: 16px;
		font-weight: 300;
		margin-right: 32px;
	}
	#single_header {
		width: 940px;
	}
	.single_topMenu .topTitle {
		margin-left: 32px;
	}
	.topMenu .more_menu {
		margin-right: 10px;
	}
	.single_topMenu .more_menu {
		margin-right: 0;
	}
	/* footer */
	.copyright {
		margin-right: 44px;
	}
	#footer .bottomTitle {
		margin-left: 40px;
	}
	/* single image */
	.single_topImage {
		width: 940px;
		height: 560px;
		background-size: 100%;
		background-position: top;
	}
	#single_main {
		width: 828px;
		margin-left: 32px;
	}
	.single_article_title, .single_article_content h4, .single_article_content p {
		margin: 0 140px 0 128px;
	}
	.single_article_content .img_p {
		text-align: center;
    	padding-top: 24px;
	}
	.single_article_content .img_p img {
		width: auto;
		max-width: 100%;
	}
	/* single txt */
	.single_article_title {
		padding: 94px 0 46px 0;
		font-size: 34px;
	}
	.single_article_date {
		margin-right: 140px;
		padding-top: 36px;
	}
	.single_article_content p {
		font-weight: 200;
		font-size: 15.5px;
	}
	/* single top */
	.topTitle {
		font-size: 30px;
		margin: 20px 0 0 40px;
	}
}

@media (min-width: 1600px) and (min-height: 670px) {
	#container {
		width: 1280px;
	}
	#single_container {
		width: 1260px;
	}
	#single_header {
		width: 1260px;
	}
	/* single image */
	.single_topImage {
		width: 1260px;
	}
	#single_main {
		width: 1148px;
	}
	.single_article_content .img_p img {
		max-width: 880px;
		float: none;
	}
	.single_article_content {
		overflow: auto;
	}
}