@font-face {
  font-family: "Noto Sans";
  font-weight: 100;
  src: url("./fonts/NotoSansCJKkr-Light-2350.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 200;
  src: url("./fonts/NotoSansCJKkr-Regular-2350.woff") format("woff");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 300;
  src: url("./fonts/NotoSansCJKkr-Medium-2350.woff") format("woff");
}

* {
	padding: 0; margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}

/* grobal */
a, a:link, a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
    -moz-text-decoration-color: red;
    text-decoration-color: red;
}
ul {
	list-style-type: none;
}
h1, h2, h3, h4, h5, h6, header, footer, span, a, p, article {
	font-family: "San Francisco", Arial, sans-serif;
	font-weight: 200;
	font-style: normal;
	word-break: break-all;
}
header, footer, span, a, p, article {
	font-size: 20px;
}
body {
	background-color: #f0f0f0;
}
/* header */
.menu_normal {
	padding: 15px 10px 0 10px;
    width: 100%;
    top: 0;
    z-index: 1;
}
.menu_normal .menubtn {
	width: 20px;
    height: 20px;
    background: url(image/buttonsx2.png) no-repeat 0 -20px;
    background-size: 70px 200px;
    float: right;
    right: 32px;
}
.menu_open {
}
/* footer */
#footer {
	margin-top: 72px;
	padding-bottom: 60px;
}
.copyright {
	float: left;
	margin-left: 20px;
	line-height: 1.6;
    font-size: 10px;
    display: block;
    color: #666;
}
.b2btn {
	width: 33px;
	height: 20px;
	background: url(image/buttonsx2.png) no-repeat 0 -131px;
	background-size: 70px 200px;
	float: right;
	margin-right: 10px;
	margin-top: 4px;
}

/* contents */
#index_content {
	margin-top: 60px;
}
.home_article{
	margin-bottom: 38px;
	transition-duration: 0.5s;
}
.index_article_cover {
	width: 100%;
	height: 0;
	padding-bottom: 45%;
	overflow: hidden;
	background-color: #ccc;
}
.index_article_image {
	width: 100%;
	display: block;
}
/* article information */
.index_article_info_frame {
	width: 100%;
	height: 80px;
	background-color: #fff;
	padding-top: 10px;
}
.index_article_title {
	display: block;
	font-size: 22px;
	padding: 0 10px;
	margin-bottom: 4px;
	line-height: 1.2;
}
.index_article_info {
	padding: 0 10px;
	display: block;
	font-size: 12px;
	color: #999;
}
.index_article_info a{
	font-size: 13px;
	display: inline-block;
	color: #666;
}

@media (min-width: 1024px) and (min-height: 670px) {
	html {
		height: 100%;
	}
	#container {
		width: 960px;
		margin: auto;
	    display: table;
	}
	#index_content {
		font-size: 0px;
		position: relative;
		height: 1000px;
	}
	.home_article {
		width: 320px;
		display: inline-block;
		padding: 0 14px 20px;
		margin: 0;
		position: absolute;
	}
	.index_article_title {
		font-size: 20px;
	}
	.index_article_cover {
		width: 100%;
		height: 100%;
		padding-bottom: 0;
		background-color: #ccc;
	}
}
@media (min-width: 1600px) and (min-height: 670px) {
	#container {
		width: 1280px;
	}
}